<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>You are about to delete the user: <%=user.email%></h2>
    <form method="post" action="/user/<%=user.id%>?_method=DELETE">
        <h3>Enter correct password to delete.</h3>
        <input type="password" name="password" placeholder="Enter password">
        <button>Delete</button>
    </form>
</body>
</html>